Fix nits

In GitLab by @ronaldtse on May 28, 2019, 18:40

```
draft-douglass-subscription-upgrade-04.txt:
draft-douglass-subscription-upgrade-04.txt(259): Line is too long: the offending characters are ' ETag (sync token) and preference'
draft-douglass-subscription-upgrade-04.txt(262): Possible code comment in line: ?  /* full feed */.
draft-douglass-subscription-upgrade-04.txt(358): Line is too long: the offending characters are 'hanges  only'
draft-douglass-subscription-upgrade-04.txt(358): Line has weird spacing: '...minimal    sig...'
draft-douglass-subscription-upgrade-04.txt(359): Line is too long: the offending characters are 'lient?s  ETag (sync token) and preference'
draft-douglass-subscription-upgrade-04.txt(416): Line is too long: the offending characters are '  ETag (sync token) and preference'
```

```
  ** The abstract seems to contain references ([RFC5545], [RFC7240]), which it
     shouldn't.  Please replace those with straight textual mentions of the
     documents in question.
```

Reference issues:
``` 
  == Unused Reference: 'I-D.ietf-calext-extensions' is defined on line 543, but
     no explicit reference was found in the text
     '[I-D.ietf-calext-extensions] Daboo, C., "New Properties for iCalenda...'

  == Unused Reference: 'RFC2434' is defined on line 552, but no explicit
     reference was found in the text
     '[RFC2434]  Narten, T. and H. Alvestrand, "Guidelines for Writing an...'

  == Unused Reference: 'RFC3688' is defined on line 557, but no explicit
     reference was found in the text
     '[RFC3688]  Mealling, M., "The IETF XML Registry", BCP 81, RFC 3688,...'

  == Unused Reference: 'RFC4589' is defined on line 566, but no explicit
     reference was found in the text
     '[RFC4589]  Schulzrinne, H. and H. Tschofenig, "Location Types Regist...'

  == Unused Reference: 'RFC5546' is defined on line 575, but no explicit
     reference was found in the text
     '[RFC5546]  Daboo, C., Ed., "iCalendar Transport-Independent Interope...'

  == Unused Reference: 'RFC6578' is defined on line 584, but no explicit
     reference was found in the text
     '[RFC6578]  Daboo, C. and A. Quillaud, "Collection Synchronization fo...'

  == Unused Reference: 'RFC7991' is defined on line 593, but no explicit
     reference was found in the text
     '[RFC7991]  Hoffman, P., "The "xml2rfc" Version 3 Vocabulary", RFC 79...'

  == Outdated reference: draft-ietf-calext-extensions has been published as RFC
     7986

  ** Obsolete normative reference: RFC 2434 (Obsoleted by RFC 5226)

  ** Obsolete normative reference: RFC 5988 (Obsoleted by RFC 8288)

  ** Downref: Normative reference to an Informational RFC: RFC 7991
```


Closing, these issues are gone.